<!DOCTYPE html>
<%- include ('../partials/head', {title: 'Login'}) %>
<body>

  <%- include ('../partials/header') %>

<main class="main-register">

    <form action="" method="POST" class="formulario" novalidate>

      <div class="errores">
        <i class="fa-solid fa-circle-exclamation"></i><h3>Error</h3>
        <ul></ul>
      </div>
      
        <h1>Iniciar sesión</h1>
        <label class="label-principal" for="correo">Correo electrónico</label>
        <input class="input-normal" type="email" id="email" name="email" placeholder="Ingresa tu correo" value="<%= locals.oldData ? oldData.email : null %>">
        <div>
          <em class="msg-error" id="error-email"></em>
        </div>
        <% if (locals.errors && errors.email) { %>
          <div class="text-danger">
            <em><%= errors.email.msg %></em>
          </div>
        <% } %>
        
        <label class="label-principal" for="password">Contraseña</label>
        <input class="input-normal" type="password" id="password" name="password" placeholder="Contraseña">
        <div>
          <em class="msg-error" id="error-password"></em>
        </div>
        <% if (locals.errors && errors.password) { %>
          <div class="text-danger">
            <p><%= errors.password.msg %></p>
          </div>
        <% } %>
        
        
        <div>
          <label>
          <input type="checkbox" name="remember_user">Recordar mi usuario
          </label>
        </div>
        
        
        <div class="container-ingresar-login">
          <button class="btn-login-cargar-producto" type="submit">Iniciar sesión</button>
        </div>
        
    </form>
        
</main>

<%- include ('../partials/footer') %>

<script src="/js/validacionesLogin.js"></script>

</body>
</html>