<!DOCTYPE html>
<%- include ('../partials/head', {title: 'My-profile'}) %>
<body>

  <%- include ('../partials/header') %>

	<main class="main-login">

		<div class="card">
			<img src="/img/imgUsers/<%= user.image %> ">				
			
			<div class="data">
				<h2> <%= user.nombre %></h2>
				<div class="email">
					<li><i class="fa-solid fa-envelope"></i></li>
					<h3> <%= user.email %></h3>
				</div>
	
				<div class="phone">
					<li><i class="fa-solid fa-phone"></i></li>
					<h3> +57 <%= user.telefono %></h3>
				</div>
			</div>
		</div>
	
		
		
				<% if (locals.adminLog) { %>
					<div class="admin-buttons">
						<div class="edit-product">
							<a href="edit/<%= user.id %>">
								<button class="btn-form-register" type="">Editar perfil</button>
							</a>
						</div>
						<div class="create-product">
							<a href="/product/create">
								<button class="btn-form-register" type="">Crear producto</button>
							</a>
						</div>
					</div>
			<% } %>
		
					
	</main>

<%- include ('../partials/footer') %>

</body>
</html>