<!DOCTYPE html>
<%- include ('../partials/head', {title: 'Register'}) %>
<body>
  
  <%- include ('../partials/header') %>

<main class="main-register">
  
  <form action="/user/register" method="post"  enctype="multipart/form-data" class="formulario">
    <h1 class="crea-tu-cuenta" >Crea tu cuenta Myhelp</h1>
      <div class="container-nombre">
        <div>
          <label class="label-principal" for="nombre">Nombre completo</label>
          <input class="input-normal" type="text" id="nombre" name="nombre" placeholder="Ingresa tu nombre" value="<%= locals.oldData ? oldData.nombre : null %>">
          <% if (locals.errors && errors.nombre) { %>
            <div class="text-danger">
              <p><%= errors.nombre.msg %></p>
            </div>
          <% } %>
        </div>
      </div>

        <div>
        <label class="label-principal" for="email">Correo electrónico</label>
        <input class="input-normal" type="email" id="email" name="email" placeholder="Ingresa tu correo" value="<%= locals.oldData ? oldData.email : null %>">
        <% if (locals.errors && errors.email) { %>
          <div class="text-danger">
            <p><%= errors.email.msg %></p>
          </div>
        <% } %>
        </div>

        <div class="container-contrasenia"> 
          <div>
            <label class="label-principal" for="password">Contraseña</label>
            <input class="input-normal" type="password" id="password" name="password" placeholder="Crea tu contraseña" >
            <% if (locals.errors && errors.password) { %>
              <div class="text-danger">
                <p><%= errors.password.msg %></p>
              </div>
            <% } %>
          </div>
          <div>
            <label class="label-principal" for="cpassword">Confirma la contraseña</label>
            <input class="input-normal" type="password" id="cpassword" name="cpassword" placeholder="Confirma contraseña" >
          </div>
        </div>

        <div>
          <label class="label-principal" for="imagen">Avatar</label>
          <input class="input-normal" type="file" id="imagen" name="imagen">
          <% if (locals.errors && errors.imagen) { %>
            <div class="text-danger">
              <p><%= errors.imagen.msg %></p>
            </div>
          <% } %>
        </div>

        <div class="container-identificacion">
          <div>
            <label class="label-principal" for="tipo_identificacion">Tipo de identificacón</label>
            <% let typeOfDocument = ['Cedula de ciudadania', 'Cedula de extrangeria', 'Pasaporte'] %>
            <select class="select" id="tipo_identificacion" name="tipo_identificacion">
              <option value="">Selecciona...</option>
              <% for (let doc of typeOfDocument ) { %>
                <option value="<%= doc %>" 
                <%= locals.oldData && (doc == oldData.tipo_identificacion) ? 'selected' : null%>
                > <%= doc %> </option>
              <% } %>
              
            </select>
          </div>
          <div>
            <label class="label-principal" for="identificacion">Número</label>
            <input class="input-normal" type="number" id="identificacion" name="identificacion" placeholder="Escribe tu documento" value="<%= locals.oldData ? oldData.identificacion : null %>">
            <% if (locals.errors && errors.identificacion) { %>
              <div class="text-danger">
                <p><%= errors.identificacion.msg %></p>
              </div>
            <% } %>
          </div> 
        </div> 

        <div>
            <label class="label-principal" for="celular">Celular</label>
            <input class="input-normal" type="tel" id="celular" name="celular" placeholder="Ingresa tu celular" value="<%= locals.oldData ? oldData.celular : null %>">
            <% if (locals.errors && errors.celular) { %>
              <div class="text-danger">
                <p><%= errors.celular.msg %></p>
              </div>
            <% } %>
        </div>
    
        <div class="politica">
          <input type="checkbox" name="politica" value="politica1">
          <p>Acepto los términos y condiciones de uso del sitio web.</p>
        </div>

        <div class="politica"> 
            <input type="checkbox" name="politica" value="politica2">
            <p>Acepto el tratamiento de datos personales según la política de privacidad 
            con el fin de ser contactado por MyHelp a través de los medios suministrados 
            y/o recibir información relacionada con productos/servicios.</p>
        </div>

        <div class="container-button">
            <button class="btn-form-register"  type="reset">Cancelar</button>
            <button class="btn-form-register" type="submit">Enviar</button>
        </div>  

        <div class="ya-tienes-cuenta">
          <p>¿Ya tienes una cuenta?</p>
          <a class="text-iniciar-sesion" href="/login"><p>Iniciar sesión</p></a>
        </div>
  </form>

</main>

<%- include ('../partials/footer') %>  

</body>
</html>