<!DOCTYPE html>
<%- include ('../partials/head', {title: 'Edit service'}) %>
<body>
  
<%- include ('../partials/header') %>

<main class="main-register">

  
  <form action="/product/edit/<%= servicio.id %>?_method=PUT" enctype="multipart/form-data" method="post" class="formulario"> 
    <h1>Edición de servicio</h1>
    
    <label class="label-principal" for="nombre">Nombre del servicio:</label>
    <input class="input-normal" type="text" id="nombre" name="nombre" value="<%= servicio.nombre %>">
    
    <label class="label-principal" for="precio">Precio:</label>
    <input class="input-normal" type="number" id="precio" name="precio" value="<%= servicio.precio %>">
    
    <label class="label-principal" for="descripcion">Descripción:</label>
    <input class="input-normal" type="text" id="descripcion" name="descripcion" value="<%= servicio.descripcion %>">

    <label class="label-principal" for="descripcion_general">Descripción general:</label>
    <input class="input-normal" type="text" id="descripcion_general" name="descripcion_general" value="<%= servicio.descripcion_general %>">

    <div class="form-group">
      <label class="label-principal" for="categoria">Categoría:</label>
      <select class="select" name="categoria">
        <option value="">Selecciona categoria</option>
        <% for (i=0; i < categorias.length; i++) {  %>
          <% if (categorias[i].id == servicio.id_categorias_servicios) { %>
            <option value="<%= categorias[i].id %>" selected>
                <%= categorias[i].descripcion %>
            </option>
          <% } else { %> 
              <option value="<%= categorias[i].id %>">
                <%= categorias[i].descripcion %>
                </option>
            <% } %>
          <% }; %>
        </select>
    </div>
      
    <label class="label-principal" for="imagen">Imagen del servicio:</label>
    <input class="input-normal" type="file" id="imagen" name="imagen">
   
    <button class="btn-login-cargar-producto" type="submit">Editar</button> 
  </form>

  <form action="/product/delete/:id" method="POST" class="formulario">
    <input type="hidden" name="_method" value="DELETE">
    <button class="btn-login-cargar-producto" type="submit">Eliminar</button>
  </form>

</main>

<%- include ('../partials/footer') %>  

</body>
</html>