<!DOCTYPE html>
<%- include ('../partials/head.ejs', {title: 'DetailId'}) %>
<body>
    
    <%- include ('../partials/header') %>

    <main>
      <div class="clean">
        <article>
          <div class="image">
            <img src="/img/imgServiciosMyHelp/<%= found.imagen %>" alt="<%= found.imagen %>" />
          </div>
          <div class="desc">
            <h3><%= found.nombre %></h3>
            <h4>Precio: <strong>$<%= found.precio %></strong></h4>
            <p><%= found.descripcion_general %></p>
          </div>
        </article>
      </div>
    </main>

    <%- include ('../partials/footer') %>

  </body>
  </html>