<!DOCTYPE html>
<%- include ('../partials/head', {title: 'MyHelp Productlist'}) %>
<body>

  <%- include ('../partials/header') %>
  <main>
    <div class="main-description-company">
      <h2>Limpieza</h2>
      <p>Tu empresa siempre impecable! Limpieza eficiente que tu empresa merece.
      </p>
    </div>
    <div class="all-clean-works">
      <% cleaning.forEach(row => { %>
      <div class="clean-company">
            <img src="/img/imgServiciosMyHelp/<%= row.imagen %>" alt="<%= row.imagen %>">
            <h3><%= row.nombre %></h3>
          
        <div class="descriptionCompany">
          <h4>Precio: <strong>$<%= row.precio %></strong></h4>
          <p><%= row.descripcion %></p>
          <a href="/productDetail/<%= row.id %>">
            <button class="request" type="submit"> Conoce más!</button></a>
            <% if (locals.adminLog) { %>
              <a href="product/edit/<%= row.id %>">
                <button class="request" type="submit"> Editar</button></a>
            <% } %>
        </div>
      </div>
      <%}); %>
    </div>
  
    <div class="main-description-company">
      <h2>Desinfección</h2>
      <p>Un ambiente limpio y saludable para tu empresa.
      </p>
    </div>
    <div class="all-disinfection-works">
      <% disinfection.forEach(row => { %>
      <div class="disinfection-company">
           <img src="/img/imgServiciosMyHelp/<%= row.imagen %>" alt="<%= row.imagen %>">
            <h3><%= row.nombre %></h3>
          
        <div class="descriptionCompany">
          <h4>Precio: <strong>$<%= row.precio %></strong></h4>
          <p><%= row.descripcion %></p>
          <a href="/productDetail/<%= row.id %>">
            <button class="request" type="submit"> Conoce más!</button></a>
            
            <% if (locals.adminLog) { %>
              <a href="product/edit/<%= row.id %>">
                <button class="request" type="submit"> Editar</button></a>
            <% } %>

        </div>
      </div>
      <%}); %>
    </div>
</main>
  <%- include ('../partials/footer') %>
  
</body>
</html>