<!DOCTYPE html>
<%- include ('../partials/head', {title: 'Edit service'}) %>
<body>
  
<%- include ('../partials/header') %>

<main class="main-register">

  
  <form action="/product/<%= found.id %>?_method=PUT" enctype="multipart/form-data" method="post" class="formulario">
    <h1>Edición de servicio</h1>
    
    <label class="label-principal" for="nombre">Nombre del servicio:</label>
    <input class="input-normal" type="text" id="nombre" name="nombre" required value="<%= found.nombre %>">
    
    <label class="label-principal" for="precio">Precio:</label>
    <input class="input-normal" type="number" id="precio" name="precio" required value="<%= found.precio %>">
    
    <label class="label-principal" for="descripcion">Descripción:</label>
    <input class="input-normal" type="text" id="descripcion" name="descripcion" required value="<%= found.descripcion %>">

    <div>
      <label class="label-principal" for="categoria">Categoría:</label>
      <select class="select" id="categoria" name="categoria" required>
        <option value="optinon 0" disabled>Selecciona categoria</option>
        <% categories.forEach(row => { %>
        <option value="<%= row.categoria %>" <% if (found.categoria == row.categoria) { %>
          selected
        <% } %>
        ><%= row.categoria %></option>
        <%}); %>
      </select>
    </div>
    
    <label class="label-principal" for="imagen">Imagen del servicio:</label>
    <input class="input-normal" type="file" id="imagen" name="imagen">
    
    <button class="btn-login-cargar-producto" type="submit">Editar</button>
    
  </form>

  <form action="/product/<%= found.id %>?_method=DELETE" method="post" class="formulario">
    <button class="btn-login-cargar-producto" type="submit">Eliminar</button>
  </form>

</main>

<%- include ('../partials/footer') %>  

</body>
</html>