<!DOCTYPE html>
<%- include ('../partials/head.ejs', {title: 'DetailId'}) %>
<body>
    
    <%- include ('../partials/header') %>

    <main>
      <div class="clean">
        <article>
          <div class="image">
            <img src="/img/imgServiciosMyHelp/<%= found.imagen %>" alt="<%= found.imagen %>" />
          </div>
          <div class="desc">
            <h3><%= found.nombre %></h3>
            <h4>Precio: <strong>$<%= found.precio %></strong></h4>
            <h5><%= found.descripcion %></h5>
            <h2>Características Destacadas de Nuestro Servicio de Limpieza para el Hogar:</h2>
            <p><%= found.descripcion_general %></p>
          </div>
          <div class="btn-schedule">
            <a href="/scheduleService">
            <button class="request" type="submit"> Solicita aquí tu servicio</button></a>
          </div>
        </article>
      </div>
      
    </main>

    <%- include ('../partials/footer') %>

  </body>
  </html>